# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 96ea630c0f339bfbfd5cf7911b1b3b4d5b3218186bbc3d3fb567132e1d6a9da9246f0d4c8f766490332acadfdb104e446faed09bf476bb285520713e9476575f

test:
  secret_key_base: b88f1e0df08a0ba87d7a57e1d56d51827a4cc0753e0287ed6b74285200d80c08c73c3443fd01c334057aeed95bdfa8eca0cdd6efaa764dfe77c833f1699362d3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
