<header class="navbar navbar-default" data-spy="affix" data-offset-top="0">
  <div text-size="40">
    <%= link_to "七日行情", transaction_chart_path %>
    <%= link_to "统计信息", transaction_stx_path %>
    <%= link_to "最新成交", transaction_news_path %>
  </div>
</header>

